<div class="row">
<div class="bordered-box">
            <div class="heading"><h4>Questions</h4></div>
	    <div class="bordered-box-content">
<p><h5> <%= link_to "Add a question" , new_question_path %> </h5></p>

	<ol>
	<% @questions.each do |q| %>
	<li><%= link_to (q.qtitle || q.qtext), question_path(q.id) %></li>
	<% end %>
	</ol>


	    </div>
</div>
</div>
