<%- model_class = Question -%>
<div class="bordered-box">
            <div class="heading"><h4>Add a Question</h4></div>
	    <div class="bordered-box-content">
		<%= render :partial => 'form' %>
		</div>
</div>

<% content_for :extra_scripts do %>
<%= render partial: "partials/wmdscript" %>
<% end %>
