<ul class="nav nav-tabs nav-stacked">
  <li class="nav-header">Branches</li>
  <% @branches = Branch.includes(:programs).all %>
  <% @branches.each do |branch| %>
  <li class="dropdown" ><%= link_to branch_path( branch.id ), class: "dropdown-toggle", "data-toggle" => "dropdown"  do %>
	<%= branch.name %>&nbsp;<i class="icon-angle-down"></i>
  <% end %>
  <ul class="dropdown-menu pull-right">
  <% branch.programs.each do |program| %>
  <li><%= link_to program.short_desc, program_path( program.id ) %></li>
  <% end %>
  </ul>
  </li>
  <% end %>
</ul>
