<ul class="nav nav-tabs nav-stacked">
  <li class="nav-header">Branches</li>
  <% @branches = Branch.includes(:programs).all %>
  <% @branches.each do |branch| %>
  <li><%= link_to branch.name, branch_path( branch.id )%></li>
  <% end %>
</ul>
