<% if qpapers.length > 0 then %>
<ol>
<% qpapers.each do |qp| %>
<li>
<%= link_to qp.title+" "+qp.month+" "+qp.year, qpaper_path(qp.id) %>
</li>
<% end %>
</ol>
<% else %>
There are no question papers yet for this course.
<% end %>
<%= link_to "Would you like to upload one?", path  %>
