<%= form_tag '/search', method: :get , class: "form-search" do%>
	<%= text_field_tag 'query', nil, placeholder: 'Enter course code or name here', class: "search-query" %>
	<button type="submit" class="btn btn-success" ><i class="icon-search"></i>&nbsp;Search</button>
<% end %>
