<div class="bordered-box">
	<div class="heading"><h4>How to add equations and code blocks?</h4></div>
	<div class="bordered-box-content">
	<p>If you need to use an equation in your answer, you can use latex notation for writing the equation.</p>
	<p>If you want the equation to appear inline with your content enclose the latex equation between a pair of $ symbols. For eg: <pre>Here is an inline equation $x^2+2\frac{x}{y}$</pre> will render as,</p><p>Here is an inline equation $x^2+2\frac{x}{y}$</p>
	<p>If you want the equation to appear on a new line, you should enclose the latex equation between <pre>\[</pre> and <pre>\]</pre>. You can split the equation itself into separate lines by using \\\\ as a line separator. For eg: <pre>Here is an equation on a new line, \[ f(x)=\begin{cases} -\pi, & -\pi < x < 0 \\\\ x, & 0 < x < \pi \end{cases} \]   </pre> will render as,</p><p>Here is an equation on a new line,  \[ f(x) = \begin{cases} -\pi, & -\pi < x < 0 \\\\ x, & 0 < x < \pi \end{cases} \] <p>
	</div>
</div>
