<div class="dropdown">
  <a id="account_dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">My account</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Questions</a></li>
	<li role="presentation" class="divider"></li>
<li role="presentation"><%= button_to "Sign Out", session_path(@current_user.id), {method: :delete , class: "btn btn-danger"}  %></li>
  </ul>
</div>
