
<% content_for :masthead_content do %>
	<div class="hero-unit noise" id="banner">
	  <div class="row">
		<div class="span11 offset1">
			<h1>Karpeer <small>,&nbsp;/kəˈrpēr/,&nbsp;A Tamil verb,&nbsp;Meaning: An appeal to learn.</small></h1>
		</div>
	  </div>
	  <div class="row">
		<div class="span11 offset1">
			<h3><i class="icon-check"></i> Questions &nbsp; <i class="icon-check-empty"></i> Solutions &nbsp; <i class="icon-check-empty"></i> Notes &nbsp; <i class="icon-check-empty"></i> Video lectures &nbsp;<i class="icon-check-empty"></i> Tutors</h3>
		</div>
	</div>
	</div>
<% end %>
This is an about page
