<% content_for :fb_conn_scripts do %>
	<%= render partial: 'fbconnscripts' %>
<% end %>
<div class="row">
	<div class="span10 offset1 allerta-headline">Some problems deserve to be solved.</div>
</div>
<div class="row">
	<div class="span9 offset2 allerta-font font20" id="mission"><p>If they need to be solved, and if they can be solved, we'll try to solve them.</p> <p>Right now, we are working on an elegant solution to a very pressing problem.</p> <p>We can't wait to show it to you. Give us just a few more days.</p> </div>
</div>

<div class="row">
<div class="span9">
<div class="fb-login-button" data-width="200"></div>
</div>
</div>
