<div class="row" id="launchBox">
	<div class="span12" id="home_search_form">
	<%# render "partials/home_search_form/stage1"%>
	</div>
</div>

 <!-- End container -->

<%= render partial: 'users/partials/signup_modal' %>
<%= render partial: 'users/partials/signin_modal' %>
<% content_for :extra_scripts do %>
	<%= render partial: "partials/home_search_form/script" %>
<% end %>
