<%= simple_form_for @solution, :html => { :class => 'form-horizontal' } do |f| %>
<div class='wmd-panel'>
<div id='wmd-button-bar'></div>
<%= f.text_area :answer, id: 'wmd-input', class: 'wmd-input' %>
</div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                solution_path(@solution.id), :class => 'btn btn-danger' %>
  </div>
<% end %>
